.breadcrumb-section {
    padding: 8px 15px;
    margin-bottom: 24px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.breadcrumb-section>li {
    display: inline-block;
}

.breadcrumb-section>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}

.breadcrumb-section>.active {
    color: #777777;
}