.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0.75rem;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: #f8f8f8;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-section {
    padding: 8px 15px;
    margin-bottom: 24px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.breadcrumb-section>li {
    display: inline-block;
}

.breadcrumb-section>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}

.breadcrumb-section>.active {
    color: #777777;
}